/* Miguel Fernández Huerta UO287577 */

/* Contiene las reglas para aplicar esquemas de posicionamiento especifico al header con los elementos que contiene (h1 y nav) */

/* Especificidad (001) */
header {
    display: flex; /* Hacemos el contenedor header flexible para que se adapte a la pantalla | PROPIEDAD NO HEREDABLE */
    flex-direction: row; /* Hacemos que la dirección de los contenidos de header sean de fila | PROPIEDAD NO HEREDABLE */
    justify-content: space-between; /* Para que el h1 se sitúe en el extremo izquierdo de la pantalla y el nav en el extremo derecho | PROPIEDAD NO HEREDABLE */
    align-items: baseline; /* Para alinear el texto de los contenidos del header entre ellos | PROPIEDAD NO HEREDABLE */
}

@media screen /* usar screen o all para que tambien sirva en navegadores de texto? */ and (max-width: 773px) {
    /* Especificidad (001) */
    header {
        flex-direction: column; /* La propiedad se está redefiniendo | PROPIEDAD NO HEREDABLE */
    }

    /* Especificidad (002) */
    header > nav {
        padding: 0 0.7vw; /* La propiedad se está redefiniendo en estilo.css | PROPIEDAD NO HEREDABLE */
    }
}

