/* Miguel Fernández Huerta UO287577 */

/* Especificidad (001) */
article {
    text-align: center;
    
    display: flex;
    flex-direction: column;

    margin: auto;
}

/* Especificidad (001) */
img {
    width: 25%;
    height: auto;
    align-self: center;
}