/* Miguel Fernández Huerta UO287577 */

/* Especificidad (011) */
section:nth-of-type(1) {
    display: flex;
    align-items: center;
    margin: 1% auto;
    justify-content: center;
}

/* Especificidad (011) */
section:nth-of-type(2) {
    display: grid; /* PROPIEDAD NO HEREDABLE */
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 0.1fr repeat(3, 24%);
    text-align: center;

    margin: auto;

    width: 50%;
    height: 82vh;
    
    gap: 3% 3%;
    justify-content: center;
}

@media screen and (max-width: 762px) {
    /* Especificidad (011) */
    section:nth-of-type(2) {
        width: 80%; /* La propiedad se está redefiniendo */
        height: 70vh; /* La propiedad se está redefiniendo */
    }

    /* Especificidad (003) */
    section > article > h3 {
        font-size: 0.9em;
    }
}

/* Especificidad (012) */
section:nth-of-type(2) > h2 {
    margin-bottom: 0%;
    grid-column: -1 / 1;
}

/* Especificidad (002) */
section > article {
    width: 100%;
    height: 100%;
    
    aspect-ratio: 1;
    background-color: #00F5D0; /* color de fondo (background) | PROPIEDAD NO HEREDABLE */
    color: #000000; /* PROPIEDAD HEREDABLE */
    cursor: pointer; /* Para que el cursor cambie a la mano que indica que se puede hacer click cuando el cursor está encima de la carta */
    
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Especificidad (011) | Especificidad (011) */
article[data-state=flip], article[data-state=revealed] {
    transform: rotateY(180deg);
}

/* Especificidad (003) */
section > article > h3 {
    backface-visibility: hidden;
    position: absolute;
}

/* Especificidad (003) */
section > article > img {
    width: 90%; /* PROPIEDAD NO HEREDABLE */
    height: 90%; /* PROPIEDAD NO HEREDABLE */
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
}