/* Miguel Fernández Huerta UO287577 */

/* Especificidad (001) */
section {
    display: flex; /* Hacemos el contenedor header flexible para que se adapte a la pantalla | PROPIEDAD NO HEREDABLE */
    flex-direction: row; /* Hacemos que la dirección de los contenidos de header sean de fila | PROPIEDAD NO HEREDABLE */
    flex-wrap: wrap; /* Para evitar que todos los items de la section estén en la misma fila | PROPIEDAD NO HEREDABLE */
    justify-content: center; /* Para que el flexbox se situe en el centro de la pagina | PROPIEDAD NO HEREDABLE */
    align-items: stretch; /* PROPIEDAD NO HEREDABLE */
    text-align: center; /* Para posicionar el contenido de cada carta en su centro | PROPIEDAD HEREDABLE */
}

/* Especificidad (002) */
section > h2 {
    width: 100%; /* PROPIEDAD NO HEREDABLE */
}

/* Especificidad (002) */
section > article {
    background-color: #00F5D0; /* color de fondo (background) | PROPIEDAD NO HEREDABLE */
    color: #000000; /* PROPIEDAD HEREDABLE */
    width: 20%; /* PROPIEDAD NO HEREDABLE */
    height: 23em; /* PROPIEDAD NO HEREDABLE */
    margin-bottom: 1%; /* PROPIEDAD NO HEREDABLE */
    margin-left: 1%; /* PROPIEDAD NO HEREDABLE */
}

/* Especificidad (003) */
section > article > img {
    margin-top: 2em; /* PROPIEDAD NO HEREDABLE */
    width: 75%; /* PROPIEDAD NO HEREDABLE */
    height: 50%; /* PROPIEDAD NO HEREDABLE */
}