/* Miguel Fernández Huerta UO287577 */

/* Especificidad (001) */
section {
    background-color: #FFFFFFFF;
    color: #000000;

    width: 65%;
    margin: 5% auto auto auto; /* Situamos la sección en el centro vertical */
    
    align-items: center;
}

/* Especificidad (011) */
section:nth-of-type(1) {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 5% 3%;
}

/* Especificidad (011) */
section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    height: auto;
}

@media screen and (max-width: 465px) {
    /* Especifidad (001) */
    section {
            width: 100%; /* REDEFINIMOS LA PROPIEDAD */
    }
}

/* Especificidad (001) */
form {
        display: flex;
        flex-direction: column;
        justify-items: center;
}

/* Especificidad (002) */
form > label {
    margin-bottom: 4%;
}

/* Especificidad (002) */
form > input {
    margin: 3% 0%;
}

/* Especificidad (001) | Especificidad (012) */
h2, section > p:last-child {
    grid-column: 1 / -1; /* Empieza en la primera columna y acabe en la última => ocupa toda la fila */
    text-align: center; /* Para centrar el texto en la fila que lo contiene */
}

/* Especificidad (001) */
div {
    background-color: #000A; /* Color de fondo de la luz (inicialmente está apagado, por tanto, lo simulamos con el color gris) | PROPIEDAD NO HEREDABLE */
    /* color: #000000 heredado de section | PROPIEDAD HEREDABLE */
    border: 0.5em solid #000000; /* Borde de la luz del semáforo */
    aspect-ratio: 1; /* Mismo alto y ancho */
    border-radius: 50%; /* Redondear los bordes asignando un porcentaje de 50% ocasiona que el div pase a dibujar una circunferencia */
}

/* Especificidad (001) */
button {
    /*color: #000000; heredado de section | PROPIEDAD HEREDABLE */
    cursor: pointer;
}

/* Especificidad (011) */
button:first-of-type {
    /*color: #000000; heredado de section | PROPIEDAD HEREDABLE */
    grid-column: 2 / span 1;
}

/* Especificidad (011) */
button:nth-of-type(2) {
    /*color: #000000; heredado de section | PROPIEDAD HEREDABLE */
    grid-column: 3 / span 1;
}

/* Especificidad (004) */
body > main > section > p {
    /*color: #000000; heredado de section | PROPIEDAD HEREDABLE */
    grid-column: 2 / span 1;
}

@keyframes out {
    from 
    {
        background-color: #FF0000; /* PROPIEDAD NO HEREDABLE */
    } to 
    {
        background-color: #000A; /* PROPIEDAD NO HEREDABLE */
    }
}

/* Especificidad (013) */
main.unload > section > div {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes turnOn {
    from 
    {
        /* color: #000000 heredado de section | PROPIEDAD HEREDABLE */
        background-color: #000A; /* Redefinición de la propiedad | PROPIEDAD NO HEREDABLE */
    } to 
    {
        /* color: #000000 heredado de section | PROPIEDAD HEREDABLE */
        background-color: #FF0000; /* Redefinición de la propiedad | PROPIEDAD NO HEREDABLE */
    }
}

/* Especificidad (023) */
main.load > section > div:first-of-type {
    animation-name: turnOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Especificidad (023) */
main.load > section > div:nth-of-type(2) {
    animation-name: turnOn;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Especificidad (023) */
main.load > section > div:nth-of-type(3) {
    animation-name: turnOn;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* Especificidad (023) */
main.load > section > div:nth-of-type(4) {
    animation-name: turnOn;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}